@media (max-width: 1100px) {
    .pages {
        font-size: 20px;
    }

    .cabecalho {
        padding: 30px;
    }

    .home {
        flex-direction: column;
        align-items: center;
        margin: 50px 0;
        gap: 30px;
    }

    .home .informacoes {
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    .container-projetos {
        padding: 30px;
    }

    #foto-greg {
        object-position: 10% 10%;
    }
}

@media(max-width: 428px) {
    
    body {
        margin: 0 10px;
    }

    h2 {
        font-size: 20px;
    }

    h3 { 
        font-size: 1rem;
    }

    p {
        font-size: 14px;
    }

    .cabecalho {
        margin-top: 20px;
        padding: 0;
        flex-direction: column;
        align-items: normal;
        border-radius: 0;
        background-color: #000;
        height: 100%;
        position: fixed;
        width: 200px;
        overflow: auto;
        justify-content: flex-start;
        z-index: 1;
    }

    .btn-menu {
        display: block;
    }

    .logo {
        border-radius: 60%;
        line-height: 70px;
    }

    .logo:hover{
        color: white;
        border: 2px solid white;
    }

    .pages {
        display: flex;
        flex-direction: column;
    }

    .btn-pages:not(.clicked):hover {
        padding: unset;
        border: none;
        background-color: #555;
        color: white;
        width: 100%;
        border-radius: 0;
    }   
    
    .clicked {
        padding: 10px;
    }
    
    .menu {
        justify-content: space-between;
    }
    
    .bandeira {
    border-radius: 0;
    }
    
    #btnAlterarTema {
        width: 45px;
        height: 45px;
        border-radius: 0;
    }
    

    /* Home Page */
    .home {
        margin: 10px 0;
        gap: 0;
    }

    .informacoes {
        max-width: 100%;
        text-wrap: balance;
    }

    .home-titulo {
        display: none;
        font-size: 1.5rem;
        padding-bottom: 20px;
    }

    .home-titulo-short {
        display: block;
        font-size: 2rem;
        padding-bottom: 10px;
    }

    .home .informacoes p {
        font-size: 1rem;
        text-align: left;
    }

    .redes-sociais {
        justify-content: center;
        padding-top: 10px;
        display: none;
    }

    #foto-greg {
        margin: 0px;
        width: 350px;
        height: 350px;
    }

    .container-foto > .redes-sociais {
        display: flex;
    }

    /* Projects Page */
    .titulo {
        font-size: 35px;
        padding-top: 20px;
        line-height: 2rem;
    }

    .projetos {
        padding: 30px 0; 
    }

    .container-projetos {
        padding: 20px 0px;
        justify-content: space-around;
        margin-bottom: 1rem;
    }

    .projeto {
        max-width: 170px;
        max-height: 300px;    
    }
    
    .projeto h3 {
        font-size: 0.8rem;
        font-weight: 500;
    }

    .projeto-texto {
        padding: 10px;
        font-size: 0.8rem;
    }

    .informacoes-projeto p:not(.projeto-texto) {
        display: none;
    }
    
    /* Certificates */
    .skills {
        flex-wrap: wrap;
        justify-content: space-between;
        height: fit-content;
    }

    .technologies {
        font-size: 0.9rem;
        padding: 0.3rem;
    }

    .technologies:hover{
        padding: 0.3rem;
        border: 1px solid #000;
    }

    .certificados {
        gap: 4px;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        display: flex;
        flex-wrap: wrap;
    }

    .certificado {
        height: 140px;
        width: 180px;
    }

    .img-certificado {
        min-height: 130px;
    }

    /* Experiences */
    .exp {
        margin-bottom: 20px;
    }

    .type {
        padding: 0.4rem 1rem;
        font-size: 1.5rem
    }
    
    .type h2 {
        font-size: 20px;
    }
    
    .profissional {
        padding: 0.6rem 1.2rem 0;
    }

    .duracao {
        display: flex;
        justify-content: space-between;
        padding: 0.2rem 0;
    }

    .duracao + p {
        padding: 0.2rem 0;
    }

    .job {
        padding-bottom: 0.4rem;
    }

    .estudo {
        padding: 0.6rem 1rem;
        text-align: justify;
    }

    .facul {
        padding-bottom: 0.5rem;
    }

    .projeto-facul > h3 {
        padding: 0.2rem 0;
    }

    /* Contacte me */
    .mailbox{
        margin-bottom: 30px;
        padding: 10px 20px;
    }

    .form-titulo {
        text-align: center;
        font-size: 50px;
    }
}