:root{
    --bg-color:linear-gradient(150deg, #000, cyan);

    --text-color: #fff;

    --pages-hover: #000;

    --bg-container: #000000db;

    --type: #4c310d;

    --bg-btn: #fff;

    --btn-text: #000;

    --bg-cabecalho: #ffffff17;
}

[data-theme="light"]{
    /* A mudar */
    --bg-color:linear-gradient(324deg, #fffff0, #ffe135);
    
    --text-color: #000;

    --pages-hover: #3e6990;

    --bg-container: #ccdbdc9e;

    --type: #4E878C;

    --bg-btn: #000;

    --btn-text: #fff;

    --bg-cabecalho: #00000017;
}